.modal {
    background: rgb(5, 5, 5);
    opacity: 50%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    .loader-modal {
        position: fixed;
        top: 40%;
        padding: 6px;
        left: 48%;
        z-index: 2;
    }
}
.container {
    padding: 4.5rem 0px;
    min-height: 80vh;
    background: rgb(39, 43, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .loader{
        justify-content: center;
        align-items: center;
    }
    .search-input {
       position: relative;
       top: 0;
       width: 50rem;
       height: 2rem;
       border-radius: 10px;
       margin-bottom: 5rem;
       background-color: aliceblue;
       color: dimgray;
       font-size: 1.2rem;
       padding: 1.5rem;
    }
    .cards {
        display: grid;
        grid-template-columns: 620px 620px;
        gap: 0.5rem;
        justify-content: center;
        min-height: calc(50vh - 60px);
    }
    .pagination {
        margin-top: 2rem;
        .my-pagination{
            color: aliceblue;
        }
        ::ng-deep {
            .ngx-pagination {
                font-weight: 600;
                font-size: 1.2rem;
                color: aliceblue;
                .current {
                    background: rgb(30, 2, 114);
                  }
                a, button {
                    color: darkgrey;
                }
            }
        }

    }
}