<section>
<div class="card">
    <div class="image"><img src="../../../assets/481.jpeg" alt="name"></div>
    <div class="description">
         <h3></h3>
         <p>
            <span class="status-icon"></span>
            alive -human
        </p>
         <div class="info">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet, illum!</p>
         </div>
    </div>
</div>
<div class="card-try">
    <div class="description">
         <p>Random character for today!</p>
         <p>Do you want to know him better?</p>
         <span>Or choose another one:
        </span>
         <button (click)="getChar()">Try!</button>
    </div>
    <div class="image"><img src="../../../assets/34928-1-19.png" alt="rick"></div>
</div>
</section>
