@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
button {
    background-color: cadetblue;
    padding: 0.5rem 2rem;
    color: aliceblue;
    border-radius: 5px;
    border: 2px solid gray;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: rgb(129, 201, 203);
    }
    &:active {
        background-color: rgb(173, 228, 229);
        color: gray;
    }
}